{
  "extends": "airbnb",
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
